{% extends "security/base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block content %}
<section class="" style='background-color:#fafafa;'>
  <div class="container py-5 h-100">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="">
        <div class="card" style="border-radius: 1rem;">
          <div class="g-0">

            <div class="d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

{% include "security/_messages.html" %}

<form action="{{ url_for_security('register') }}" method="POST" name="register_user_form">
  {{ register_user_form.hidden_tag() }}
  <div class="d-flex align-items-center mb-3 pb-1">
    <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
    <span class="h1 fw-bold mb-0">Blog Lite</span>
  </div>

<div class="row">
  <div class="col col-lg-6">
    <div class="form-outline mb-4">
             {{ render_field_with_errors(register_user_form.first_name,class="form-control form-control-lg")  }}
           </div>

  </div>  <div class="col col-lg-6">
    <div class="form-outline mb-4">
             {{ render_field_with_errors(register_user_form.last_name,class="form-control form-control-lg")  }}
           </div>
</div>  </div>
<div class="form-outline mb-4">
         {{ render_field_with_errors(register_user_form.username,class="form-control form-control-lg")  }}
       </div>

     <div class="form-outline mb-4">
              {{ render_field_with_errors(register_user_form.email,class="form-control form-control-lg")  }}
            </div>




      <div class="form-outline mb-4">
  {{ render_field_with_errors(register_user_form.password, class="form-control form-control-lg") }}</div>
  {% if register_user_form.password_confirm %}

     <div class="form-outline mb-4">
     {{ render_field_with_errors(register_user_form.password_confirm, class="form-control form-control-lg") }}
  </div>  {% endif %}
  <div class="row">
    <div class="col-lg-4">



    <div class="pt-1 mb-4">
  {{ render_field(register_user_form.submit, class="btn btn-dark btn-lg btn-block") }}</div></div>
<div class="col-lg-8">


    <p  class="mb-5 pb-lg-2" style="color: #393f81; padding-top:20px;"> Already have an account?
  <span style="color: #393f81;">{% include "security/_menu.html" %}</span>    </p>  </div></div>
</form>

</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>

{% endblock %}
