<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/static/blocks/layout.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous"
      referrerpolicy="no-referrer" />
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <meta charset="utf-8">
    <title></title>
    <script>
     window.onload =  function () {

        if ("{{ flag }}" == "True") {

          const searchResults = document.getElementById('searchResults');
          const htmlString = "{% if results %}  {% for user in results %}<div class=\"searchResults__user\">  {% if user.profile_picture == None %} <img src=\"{{ url_for('static', filename = 'placeholder.png')}}\" class=\"post__author-logo\" alt=\"\">{% else %}  <img src=\"data:image\/png;base64, {{user.profile_picture}} \" class=\"post__author-logo\" alt=\"\" >{% endif %}  <div class=\"row\">  <div class=\"searchResults__author-username\" onclick=\"window.location.href='\/{{user.username}}';\"> @{{ user.username }} </div> </div>  <div class=\"row\"> <div class=\"searchResults__author-name\">{{ user.first_name }} {{user.last_name }} </div></div></div>{% endfor %}{% else %} No users found {% endif %} ";

          searchResults.innerHTML = htmlString;
        }
      };
      function checkCommentText() {
      	 if(document.getElementById("comment").value==="") {
                  document.getElementById('post-comment').disabled = true;
              } else {
                  document.getElementById('post-comment').disabled = false;
              }
          }

    </script>
  </head>
  <body>
  <div class="container container-fluid">
    <div class="post">


    {% if user.profile_picture == None %}
    <img src="{{ url_for('static', filename = 'placeholder.png')}}" class="post__author-logo" alt="">
    {% else %}
    <img src="data:image/png;base64,{{user.profile_picture}}" class="post__author-logo" alt="">
      {% endif %}

      <div class="post__main">

        <div class="post__main-header">
          <div class="post__author-name">{{ user.first_name }} {{user.last_name }} </div>
          <div class="post__author-username" onclick="window.location.href='/{{user.username}}';">

            @{{ user.username }} </div>
          <div class="post__publish-time"> {{ post.time_created }}

          </div>
        </div>

        <div class="post__main-body">
          <div class="post__main-body-title h3">

            {{ post.title }}
          </div>
          <div class="post__main-body-content-p">


            {{ post.description }}
          </div>
        </div>
        {% if post.image_url %}
        <div class="post__main-body-content-image">


          <img src="data:image/png;base64,{{post.image_url}}" alt="post image">
        </div>{% endif %}
        <div class="likesAndComments">

          {% if isLikedByUser %}<div class="" onclick="window.location.href='/unlike/{{post.id}}';">

            <i class=" like-icon fa-sharp fa fa-solid fa-heart" style="color:#e1002d;"></i>
          </div>
          {% else %} <div class="" onclick="window.location.href='/like/{{post.id}}';">

            <i class=" like-icon fa-regular fa fa-heart"></i>
          </div> {% endif %}<div class="like-text" onclick="window.location.href='/likes/{{post.id}}';"> {{likes | length }} </div>
          <div class="" onclick="window.location.href='/comment/{{post.id}}';"> <i class="like-icon fa-regular fa-comment"></i></div>
          <div class="like-text">
            {{comments | length }}
          </div>
        </div>
  </div></div>
  <div class="comments">
    {% if comments %}
    {% for comment in comments %}
    <div class="comment-body">


    <div class="commenter_profile">
      {% if commenter[comment].profile_picture == None %}
      <img src="{{ url_for('static', filename = 'placeholder.png')}}" class="post__author-logo" alt="">
      {% else %}
      <img src="data:image/png;base64,{{commenter[comment].profile_picture}}" class="post__author-logo" alt="">
        {% endif %}

<div class="comment_profile">


        <div class="post__author-username" onclick="window.location.href='/{{commenter[comment].username}}';">

          @{{ commenter[comment].username }}</div>

          <div class="comment-text">
          {{comment.comment}}
          </div></div>
    </div>
        </div>
    {% endfor %}

  {% endif %}
    <div class="comment-body"  >
      <form class="comment" action="/comment/{{post.id}}" method="post">
        <input type="text" onkeyup="checkCommentText()" name="comment" id="comment" placeholder="Add a comment..."> <button type="button" id="post-comment" disabled >Post</button>
      </form>
    </div>
  </div>


</div>
  </body>
</html>
